/*fonts*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300, 400, 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: #efefef;
}

body {
    margin: 0;
}

/*header*/

header {
    background-color: #efefef;
    height: 220px;
}

header h1 {
    text-align: center;
    font-size: 64px;
    padding-top: 4rem;
    margin: 0;
}

header h2 {
    margin: 0;
    margin-bottom: 1rem;
    color: #a9a9a9;
}

#contact {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

header li {
    list-style: none;
}

nav {
    top: 0;
    position: fixed;
    top: 120;
    width: 100%;
    z-index: 5;
    border: solid 1px #ff3b3f;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #caebf2;
    margin: 0;
}

nav li {
    margin: 1rem 4rem;
}

nav a {
    text-decoration: none;
    color: #a9a9a9;
}

nav a:hover {
    text-decoration: underline;
    background-color: #ff3b3f;
}

/*banner*/

.banner h1 {
    color: #a9a9a9;
    display: flex;
    justify-content: center;
    margin: 0;

}

.banner h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.banner_text {
    background-color: #333333;
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-left: 20%;
}

.banner {
    display: flex;
    align-items: center;
}

/*banner1*/

#pilot .banner {
    background-image: url('./Pictures/falcon_sunset.jpg');
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#pilot {
    display: block;
}



/*banner2*/

#dev_banner {
    background-image: url('./Pictures/matrix.jpg');
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#developer {
    display: none;
}

/*qualifications*/



.qualifications h2 {
    color: #333333;
    text-align: center;
    font-size: 3rem;
}

.qualifications p {
    margin: 0.5rem 2rem;
    font-size: 1.5rem;
}

.qualifications ul {
    margin-left: 4rem;
    font-size: 1.5rem;
}

.qualifications a {
    color: #333333;
}
/*Pilot experience*/

#pilot .experience {
    display: flex;
    flex-direction: column;
    background-color: #caebf2;
    margin: 2rem;
}

#pilot .exp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#pilot .employer {
    background-color: #333333;
    padding: 1rem;
    color: #efefef;
    text-align: center;
    margin-bottom: 2rem;
}

#pilot h2 {
    font-size: 3rem;
    color: #333333;
}

.employer a {
    text-decoration: underline;
    color: #efefef;
}

.employer a:hover {
    color: #333333;
    background-color: #efefef;
}

/*education*/

.education {
    text-align: center;
}

.education .edu {
    background-color: #333333;
    padding: 1rem;
    color: #efefef;
    text-align: center;
    margin-bottom: 2rem;
    width: 33%;
    margin-left: 33%;
}

.edu a {
    color: #efefef;
}

.edu a:hover {
    color: #333333;
    background-color: #efefef;
}

/*language*/

.language {
    text-align: center;
    background-color: #caebf2;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.language table {
    border: solid 3px #333333;
    margin:0 3rem 3rem 3rem;
}

.language th {
    border: solid 2px #333333;
}

.language td {
    border: solid 1px #333333;
}